.container{
    min-height: 100vh;
    animation: bulbAnim 2s linear infinite alternate;
    transform-origin: top;

}
body{
    margin: 0%;
    padding: 0%;
    background: radial-gradient(#0e0e0e, #4e4e4e);
    display: flex;
    justify-content: center;
}
.handle{
    position: absolute;
    background-color: rgb(48, 47, 46);
    width: 130px;
    height: 130px;
    border-radius: 50px 50px 10px 10px;
    margin-top: 300px;
    top: -100px;
    z-index: 3;
}
.handle>div{
    position: relative;
    top: 35%;
    width: 130px;
    height: 9px;
    background-color: rgb(96, 98, 100);
    margin-bottom: 15px;
    box-shadow: 0px 5px 10px #000, inset 30px 0px 5px #201c1c;

}
.handle::before{
    content: "";
    width: 3px;
    height: 250px;
    position: absolute;
    background-color: rgb(115, 113, 112);
    left: 50%;
    top: -195%;
}
.handle::after{
    content: "";
    position: absolute;
    width: 50px;
    height: 50px;
    border-radius: 100px;
    background-color: rgb(52, 53, 49);
    left: 32%;
    top: -180px;
    box-shadow: inset 0px 5px 10px #000, inset 30px 0px 5px;
}
.bulb{
    position: relative;
    background-color: rgb(73, 73, 72);
    width: 200px;
    height: 200px;
    border-radius: 100px;
    margin-top: 300px;
    left: -30px;
    box-shadow: inset 10px 0px 20px #000, inset 10px 0px 40px #000, inset 20px 0px 60px #000;
}
@keyframes bulbAnim{
 0%{
    transform: rotate(60deg);
 }
 100%{
    transform: rotate(-60deg);
 }
}
.button-container{
    position: absolute;
    width: 100px;
    height: 100px;
    background-color: #161313;
    border-radius: 100px;
    bottom: 10px;
    right: 10px; 
    box-shadow:  inset ;
}
.button{
    cursor: pointer;
    position: absolute;
    width: 70px;
    height: 70px;
    background-color: #2f2e2c;
    border-radius: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    left: 15px;
    top: 15px;
    box-shadow: 0px 0px 10px #000, inset  2px 2px 5px #766f66, inset 0px 0px 10px #000;

}
.button{
    font-size: 2.5em;
}